.App.mobile { position: relative; }
.m-options {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 12px;
  text-align: right;
  width: 100%;
  color: #999;
}
.m-options-btn {
  cursor: pointer;
  z-index: 3;
  position: relative;
}
.m-options .mordor-btn {
  color: white;
  margin-bottom: 6px;
}
.m-options-menu.open { display: block; }
.m-options-menu {
  display: none;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 8px;
  box-shadow: 0 0 12px 2px #333;
  width: 50%;
  z-index: 2;
  border-bottom-left-radius: 3px;
  background: white;
}
.m-options-menu h4,
.m-options-menu h5 {
  margin: 0 0 1em;
}
.m-button-wrap {
  padding: 20px 0;
  text-align: center;
}
.m-button-wrap .pure-button:not(:last-child) {
  margin-right: 6px;
}
.m-tab-list {
  width: 100%;
  padding-top: 20px;
}
.m-tab-list .pure-menu-item { 
  text-align: center;
  font-size: 14px;
}
.m-tab-list .pure-menu-item .pure-button { 
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #BDBDBD;
}
.m-tab-list .pure-menu-item:not(:last-child) .pure-button { 
  border-right-width: 1px;
}
.m-tab-tiles {
  padding: 20px;
  white-space: initial;
}
.m-tab-tiles .pure-menu-item {
  padding: 6px;
}

.App-header {
  text-align: center;
}
.App-header h2 {
  margin: 0;
  padding: 20px 0;
}

.pools .hunt-tile-list li {
  margin: 0 8px 8px 0;
}
.pools .pure-menu-item .pure-menu-item {
  display: inline-block;
}

.pools .pure-menu-horizontal {
  white-space: initial;
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
}

.special-tile-buttons {
  font-size: 1em;
  text-align: left;
}
.special-tile-buttons .pure-menu-horizontal {
  white-space: initial;
}
.special-tile-buttons li {
  margin: 0 6px 6px 0;
}

.tile-button {
  color: rgb(222, 201, 4);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
.tile-button.f {
  background: #94abbd;
}
.tile-button.s {
  background: #9d5a3f;
}

.controls .button-wrap {
  margin-bottom: 20px;
}
.controls .pure-button:not(:last-child) {
  margin: 0 6px 20px 0;
}
.mobile .pure-button-large {
  font-size: 22px;
}
.pure-button-large {
  font-size: 20px;
  border-radius: 3px;
  color: #EFEFEF;
}
.pure-button.free { background-color: #94abbd; }
.pure-button.shadow { background-color: #9d5a3f; }

.current-tile { text-align: center; }
.current-tile .hunt-tile.big {
  margin-top: 32px;
}
.current-tile .hunt-tile.big.small-viewport {
  margin-top: 20px;
}
.current-tile .controls {
  margin-bottom: 20px;
}
.current-tile-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.current-tile-name.f {
  color: #94abbd;
}
.current-tile-name.s {
  color: #9d5a3f;
}
.current-tile-name.small-viewport {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
}
.current-tile p {
  width: 60%;
  margin: 0 auto 20px;
  text-align: left;
}
.current-tile fieldset {
  width: 60%;
  margin: 0 auto;
}
.current-tile fieldset div {
  text-align: left;
  padding-left: 8%
}
.current-tile fieldset span {
  font-weight: bold;
}

.set-aside .hunt-tile,
.set-aside .set-aside-btns {
  display: inline-block;
}
.set-aside .set-aside-tile {
  margin-bottom: 20px;
}

.set-aside .set-aside-btns .pure-button {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 1px;
}
.set-aside .set-aside-btns .pure-button i {
  margin-right: 4px;
}

.set-aside ol .pure-menu-heading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 20px;
}

.set-aside ol .pure-menu-item {
  padding-left: 20px;
}

/* Hunt Tile styles*/

.hunt-tile-container .hunt-tile { margin: 0 auto; }
.hunt-tile {
  position: relative;
  background: rgb(198, 188, 176);
  border-radius: 6px;
  width: 64px;
  height: 64px;
  text-align: center;
  box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.7)
}
.hunt-tile .tile-image {
  position: relative;
  z-index: 1;
  width: 64px;
}
.hunt-tile .overlay {
  z-index: 2;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  border-radius: 6px;
  background: rgba(0,0,0,0.5);
  padding-top: 16px;
}
.tile-action-btn {
  color: #EFEFEF;
  padding: 5px 7px;
  background: none;
}
.tile-action-btn:hover {
  color: #DDD;
}
.outside-btns .tile-action-btn {
  color: #222;
  padding: 10px 12px 8px;
}
.hunt-tile .damage {
  color: rgb(222, 201, 4);
  text-shadow: 0 2px 4px #5d5837;
}
.hunt-tile .icons {
  position: relative;
}
.hunt-tile .img-damage-icon {
  width: 162px;
}
.hunt-tile.has-icons .damage {
  position: relative;
}
.hunt-tile.f {
  background: #94abbd;
}
.hunt-tile.s {
  background: #9d5a3f;
}
.hunt-tile.empty {
  background: none;
  border: none;
  box-shadow: none;
}
.hunt-tile:hover .overlay {
  display: block;
}
.hunt-tile.big {
  width: 196px;
  height: 196px;
  border-radius: 12px;
  margin: 0 auto 20px;
}
.hunt-tile.big .damage .number {
  font-size: 156px;
  line-height: 1;
}
.hunt-tile.big .reveal-icon {
  width: 56px; 
}
.hunt-tile.big .reveal-icon + .stop-icon {
  padding-left: 6%;
}
.hunt-tile.big .stop-icon {
  width: 28px;
  padding-left: 35%;
}
