.hunt-tile {
    background-size: cover;
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 42px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    color: palegoldenrod;
    line-height: 1;
  }
  .hunt-tile.small {
    width: 32px;
    height: 32px;
    font-size: 22px;
  }
  .hunt-tile.large {
    width: 128px;
    height: 128px;
    font-size: 72px;
  }
  .hunt-tile .damage {
    line-height: 46px;
  }
  .hunt-tile.small .damage {
    line-height: 1.125rem;
    position: relative;
    top: 4px;
  }
  .hunt-tile.large .damage {
    line-height: 92px;
  }
  
  .hunt-tile.small .extras {
    padding: 0;
    position: relative;
    top: 2px;
  }
  .hunt-tile .extras {
    display: flex;
    justify-content: center;
    padding: 0px 6px;
  }
  
  .hunt-tile .reveal, .hunt-tile .stop {
    background-size: cover;
    font-size: 0;
  }
  
  .hunt-tile .reveal {
    height: 12px;
    width: 30px;
    text-align: center;
  }
  .hunt-tile.small .reveal {
    height: 9px;
    width: 23px;
  }
  .hunt-tile.large .reveal {
    height: 24px;
    width: 60px;
  }
  
  .hunt-tile .stop {
    width: 12px;
    margin-left: auto;
  }
  .hunt-tile .stop svg {
    width: 100%;
    filter: drop-shadow( 1px 1px 0px rgba(0, 0, 0, .7));
  }
  .hunt-tile .stop svg path {
    fill: rgb(219, 16, 16);
  }
  .hunt-tile.small .stop {
    width: 8px;
  }
  .hunt-tile.large .stop {
    width:24px;
  }