.App-header {
  text-align: center;
}

.pools .hunt-tile-list li {
  margin: 0 8px 8px 0;
}
.pools .pure-menu-item .pure-menu-item {
  display: inline-block;
}

.pools .pure-menu-horizontal {
  white-space: initial;
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
}

.special-tile-buttons {
  font-size: 12px;
  text-align: left;
}
.special-tile-buttons .pure-menu-horizontal {
  white-space: initial;
}
.special-tile-buttons li {
  margin: 0 6px 6px 0;
}

.tile-button {
  color: rgb(222, 201, 4);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
.tile-button.f {
  background: #94abbd;
}
.tile-button.s {
  background: #9d5a3f;
}

.controls .button-wrap {
  margin-bottom: 20px;
}
.controls .pure-button:not(:last-child) {
  margin: 0 6px 20px 0;
}
.controls .pure-button-large {
  font-size: 20px;
  border-radius: 5px;
  color: white;
}
.controls .free { background-color: #94abbd; }
.controls .shadow { background-color: #9d5a3f; }

.current-tile { text-align: center; }
.current-tile .hunt-tile.big {
  margin-top: 32px;
}
.current-tile .controls {
  margin-bottom: 20px;
}
.current-tile .current-tile-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.current-tile .current-tile-name.f {
  color: #94abbd;
}
.current-tile .current-tile-name.s {
  color: #9d5a3f;
}
.current-tile p {
  width: 60%;
  margin: 0 auto 20px;
  text-align: left;
}
.current-tile fieldset {
  width: 60%;
  margin: 0 auto;
}
.current-tile fieldset div {
  text-align: left;
  padding-left: 8%
}
.current-tile fieldset span {
  font-weight: bold;
}

.set-aside .hunt-tile,
.set-aside .set-aside-btns {
  display: inline-block;
}
.set-aside .set-aside-tile {
  margin-bottom: 20px;
}

.set-aside .set-aside-btns .pure-button {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 1px;
}
.set-aside .set-aside-btns .pure-button i {
  margin-right: 4px;
}

.set-aside ol .pure-menu-heading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 20px;
}

.set-aside ol .pure-menu-item {
  padding-left: 20px;
}

.svg-icon {
  width: 10px;
}

/* Hunt Tile styles*/

.hunt-tile {
  position: relative;
  background: rgb(198, 188, 176);
  border-radius: 6px;
  width: 64px;
  height: 64px;
  text-align: center;
  box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.7)
}
.hunt-tile .tile-image {
  position: relative;
  z-index: 1;
  width: 64px;
}
.hunt-tile .overlay {
  z-index: 2;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  border-radius: 6px;
  background: rgba(0,0,0,0.5);
  padding-top: 16px;
}
.hunt-tile .overlay-button {
  color: #EFEFEF;
  padding: 5px 7px;
  background: none;
}
.hunt-tile .overlay-button:hover {
  color: #DDD;
}
.hunt-tile .damage {
  color: rgb(222, 201, 4);
  text-shadow: 0 0 6px #5d5837;
}
.hunt-tile .icons {
  position: relative;
  top: -34px;
}
.hunt-tile .eye-icon {
  width: 162px;
  padding-bottom: 12px;
}
.hunt-tile.has-icons .damage {
  position: relative;
  top: -6px;
}
.hunt-tile.f {
  background: #94abbd;
}
.hunt-tile.s {
  background: #9d5a3f;
}
.hunt-tile.empty {
  background: none;
  border: none;
  box-shadow: none;
}
.hunt-tile:hover .overlay {
  display: block;
}
.hunt-tile.big {
  width: 196px;
  height: 196px;
  border-radius: 12px;
  margin: 0 auto 20px;
}
.hunt-tile.big .damage {
  font-size: 156px;
}
.hunt-tile.big .reveal-icon {
  width: 56px; 
}
